{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Update Event
{% endblock %}

{% block content %}
<div class="col-md-6 mx-auto">
    <div class="card mt-2">
        <div class="card-header">
          Update event
        </div>
        <div class="card-body">
          <form method="post" action="">
            {% csrf_token %}
            {{ form | crispy }}
            <button type= "submit">
                Save
            </button>
        </form>
        </div>
      </div>
    </div>



{% endblock %}